.shopye{
	background-color:white;
	/*height: 100vh;*/
}

.shopye .img{
	width: 98%;
	height: 128px;
	margin:0 auto;
	background-image: url('../img/1545845004.jpg');
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: 4px;
	box-sizing:border-box;
	border:1px solid #2F4F4F;
	border-radius: 5px;
	
}

.shopye .liebiao{
	width: 96%;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top: 20px;
	height: 80px;
	/*border-bottom: 2px dashed #aaaaaa*/
}


.shopye .tupian{
	width: 22%;
	height: 70px;
	border:1px solid #aaaaaa;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #8B8B83;
	float:left;
}
.shopye .tupian img{
	width: 100%;
	height: 100%;
	/*border:1px solid red;*/
}
.shopye .content{
	width: 75%;
	margin-left: 24%;
	text-align: left;
	line-height: 25px;

}
.shopye .top{
	width: 100%;
	overflow: hidden;
	line-height: 25px;
}
.shopye .content h3{
	font-weight: bold;
	
	float:left;
}
.shopye .top div{
	float:right;
	min-width: 60px;
	margin-left: 5px
}
.shopye .content .down{
	font-size: 12px;
	line-height: 20px
}


.shopye .shadow{
	width: 97%;
	margin: 0 auto;
	height: 2px;
	background:#3A5FCD;
	box-shadow: 4px 4px 3px 1px #aaaaaa
}