.controlreataurant{
	width: 100%;
}
.controlreataurant table{
	width: 100%;
	margin: 0 auto;
	border-collapse:collapse;
	
	
}

.controlreataurant td{
	/*border:1px solid #aaaaaa;*/
	height: 30px;
	text-align: center
}