.forgetpassword{
	width: 100%;
}
.forgetpassword ul{
	width:80%;
	margin:0 auto;
	text-align:left;
	text-indent:10px;
}
.forgetpassword ul li{
	line-height:20px;
	border-bottom:1px solid #aaaaaa;
	margin-top:10px;
}
.forgetpassword .tel{
	width: 78%;
	line-height: 35px;
	border:0px;
	outline: 0;
	margin-left:10px
}
.forgetpassword .password{
	width: 41%;
	line-height: 35px;
	border:0px;
	outline: 0;
	margin-left: 10px
}
.forgetpassword .newpassword{
	width: 78%;
	line-height: 35px;
	border:0px;
	outline: 0;
	margin-left:10px
}
.forgetpassword .resetpassword{
	width: 78%;
	line-height: 35px;
	border:0px;
	outline: 0;
	margin-left:10px
}