.cantingye{
	background-color:white;
	/*height: 100vh;*/
}
.cantingye .banner{
	width: 97%;
	height: 150px;
	margin: 0 auto;
	background-color:#009dd9 ;
	box-sizing:border-box;
	border:1px solid #2F4F4F;
	border-radius: 5px;
	margin-top: 2px;
}
.cantingye .bannerlittle{
	width: 96%;
	height: 136px;
	margin: 0 auto;
	background-color:white ;
	box-sizing:border-box;
	border:1px solid #2F4F4F;
	border-radius: 5px;
	margin-top: 7px;
}
.cantingye .img{
	width: 98%;
	height: 128px;
	margin:0 auto;
	background-image: url('../img/1545845004.jpg');
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: 4px;
	box-sizing:border-box;
	border:1px solid #2F4F4F;
	border-radius: 5px;
	
}
.cantingye .canting{
	width: 98%;
	height: 40px;
	margin: 0 auto;
	background: #009dd9;
	border-radius: 0 10px 10px 0px;
	margin-top: 3px;
	box-shadow: 5px 5px 5px #aaaaaa;
}
.cantingye .liebiao{
	width: 97%;
	margin: 0 auto;
}
.cantingye .tupian{
	width: 22%;
	height: 22%;
	
	/*border:1px solid red;*/
}
.cantingye .tupian img{
	width: 100%;
	height: 100%;
	/*border:1px solid red;*/
}